<!DOCTYPE html>
<html>
<head>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">

</head>
<body>
<ion-view>
    <ion-content>

        <br>
        <p class="col-sm-10 col-md-10 col-lg-10">
            <a class="button icon ion-home" href="#/tab/home"> Home</a>
            <a class="button icon ion-chevron-left" href="#/tab/surah"> Scientific Facts</a>
        </p>

        <br>
        <img src="../img/fatiha.jpg">
<br>
   <p style="height: 20px">

   </p>
        <br>
        <audio controls="controls">
            <source src="http://www.quranaudiomp3.com/audio/bangalitranslation/001%20www.quranaudio.info.mp3" type="audio/mpeg">
            <source src="" type="audio/ogg">
        </audio>



    </ion-content>
</ion-view>


</body>

</html>
